.add-task-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-input {
    flex-grow: 1;
}
  
.task-input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px #ceacac;
}