.App {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}

.button {
  margin-left: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 5px #bf8989;
  font-size: 1rem;
  cursor: pointer;
  background-color: #cbb4b4;
  transition: 0.5s;
}
.button:hover {
  background-color: #e3d7d7;
}
