.App {
  text-align: center;
}

.list-title {
  margin-top: 80px;
  margin-bottom: 15px;
  font-size: 2rem;
}
.task-input {
  padding: 10px 15px;
  width: 60%;
  max-width: 600px;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px #eee;
  font-size: 1rem;
  box-sizing: border-box;
}
.button {
  margin-left: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 5px #bf8989;
  font-size: 1rem;
  cursor: pointer;
  background-color: #cbb4b4;
  transition: 0.5s;
}
.button:hover {
  background-color: #e3d7d7;
}
.task-list {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  list-style-type: none;
  text-align: left;
  background-color: #c3aaaa;
  border-radius: 5px;
  box-sizing: border-box;
}
.task-item {
  display: flex;
  justify-content: space-between; /* Изменяем на flex-start */
  align-items: center; /* Центрируем элементы вертикально */
  text-align: left;
  margin: 10px 0; /* Добавляем отступ между задачами */
  flex-wrap: nowrap;
}
.task-text {
  flex-grow: 1; /* Заставляет текст занимать все доступное пространство */
  word-wrap: break-word; /* Перенос длинных слов на новую строку */
  overflow-wrap: break-word; /* Поддержка для старых браузеров */
  min-width: 0; /* Убедимся, что элемент может сжиматься, чтобы избежать переполнения */
}

.custom-checkbox {
  position: relative;
  margin-right: 10px;
  display: inline-block;
  width: 20px; 
  height: 20px; 
  cursor: pointer;
}
.custom-checkbox input {
  opacity: 0; 
  width: 0;
  height: 0;
}
.checkmark {
  position: absolute;
  background-color: #eee;
  border-radius: 4px;
}
.custom-checkbox input:checked + .checkmark {
  background-color: #85a6ae;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-checkbox input:checked + .checkmark:after {
  display: block;
}
.custom-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px; /* Ширина галочки */
  height: 10px; /* Высота галочки */
  border: solid white; /* Цвет галочки */
  border-width: 0 2px 2px 0; /* Обводка для галочки */
  transform: rotate(45deg);
}

