.task-list {
    min-height: 40vh;
    margin: 20px auto;
    padding: 30px;
    list-style-type: none;
    text-align: left;
    background-color: #ede3e3;
    border-radius: 5px;
    box-sizing: border-box;
}